* {
    box-sizing: border-box;
    margin: 0;
    font-family: sans-serif;
}

nav {
    display: flex;
    padding: 0 0 10px 0;
    margin: 0 0 10px 0;
}

nav img {
    height: 100px;
    margin: 10px;
}

nav form {
    align-self: flex-end;
}

.images {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    margin: 10px 0 0 0;
}

.img-card {
    border: 1px solid black;
    width: 400px;
    padding: 15px;
    margin: 15px;
}

.img-wrapper {
    margin-bottom: 10px;
}

.img-card img {
    width: 100%;
}

.component {
    position: fixed;
    background: rgba(255, 105, 180, 0.5);
    top: 50px;
    right: 0;
    left: 0;
    bottom: 50px;
}

.fruit {
    font-size: 100px;
}
